<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Interior Design Mock Up</title>
  </head>

  <body>
    <div class="mainbody">
      <div class="header">
        <nav>
          <div class="left-header">
            <ul>
              <li id="lheader">INTERIOR DESIGN</li>
              <div class="menu">
                <li>ABOUT</li>
                <li>PORTFOLIO</li>
                <li>TESTIMONIALS</li>
                <li>BLOG</li>
              </div>
            </ul>
          </div>
          <div class="right-header">
            <ul>
              <li>CONTACT</li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="mainphoto"></div>
      <div class="cardcontainer">
        <div class="card" style="width: 400px" style="height: 189px">
          <h5>Title 1</h5>
          <br />
          <br />
          <img src="../images/firstrow1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              malesuada non libero ac dapibus. Pellentesque semper eros non
              sagittis gravida.
            </p>
            <button>More Info</button>
          </div>
        </div>

        <div class="card" style="width: 400px" style="height: 189px">
          <h5>Title 1</h5>
          <br />
          <br />
          <img src="../images/firstrow2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              malesuada non libero ac dapibus. Pellentesque semper eros non
              sagittis gravida.
            </p>
            <button>More Info</button>
          </div>
        </div>

        <div class="card" style="width: 400px" style="height: 189px">
          <h5>Title 1</h5>
          <br />
          <br />
          <img src="../images/firstrow3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              malesuada non libero ac dapibus. Pellentesque semper eros non
              sagittis gravida.
            </p>
            <button>More Info</button>
          </div>
        </div>
      </div>
      
        <h3 class="subtitle">Instagram</h3>
<div class="gridcontainer">
      <div class="imageone"></div>
      <div class="imagetwo"></div>
      <div class="imagethree"></div>
      <div class="imagefour"></div>
      <div class="imagefive"></div>
    </div>
    </div>
    <div class ="footers">
<footer>
<div style= "text-align: center;"> <img src="../images/Social.png" alt="..." />
    </div>
      </body>
</html>
